@font-face{
  font-family: 'Jokes-family';
  src: url('./Asset/Vogue.ttf');
}

body {
  font-family: 'Sansita Swashed', cursive;
  margin: 0;
}

.font{
  font-family: 'Jokes-family';
}

.card-design{
  box-shadow: 6px 8px 2px;
  border-color: khaki;
}
